.main_title {
  font-size: 60px;
  font-weight: 900;
  color: white;
  /*background-color: rgb(24 24 27);*/
  padding: 0;
  margin: 2px 0;
  text-align: center;
}

.header_title {
  /*text-shadow: 10px 10px 10px red;*/
  /*text-shadow: 0 13.36px 8.896px #c4b59d,0 -2px 1px #fff;*/
  display: block;
  /*margin: 11px 0 17px 0;*/
  font-size: 20px;
  line-height: 80px;
  color: #f1ebe5;
  /*text-shadow: 0 13.36px 8.896px #6e3c81,0 -2px 1px #fff;*/
  /*text-shadow: 40px 40px 80px #6e3c81, 20px 20px 40px pink ;*/
  text-shadow: 
  0 0 10px var(--third-color),
  0 0 20px var(--third-color),
  0 0 40px var(--third-color),
  0 0 80px var(--third-color);
}
